In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
df=pd.read_parquet(r'H:\Data osf\Dataosf\commits.parquet')

In [3]:
df.columns

Index(['source', 'repo', 'hash', 'parents', 'author', 'author_time',
       'author_tz', 'committer', 'commit_time', 'commit_tz', 'message',
       'added', 'removed', 'from_svn', 'accurate_tz', 'issue_id'],
      dtype='object')

In [4]:
len(df)

3439001

In [5]:
df['commit_time'].dtype

datetime64[ns, UTC]

In [6]:
df['commit_tz'].dtype

dtype('O')

In [7]:
df['commit_time'].head()

0   2013-01-15 23:58:38+00:00
1   2013-01-22 18:08:30+00:00
2   2012-05-17 17:24:30+00:00
3   2012-05-16 14:51:58+00:00
4   2012-05-16 17:42:07+00:00
Name: commit_time, dtype: datetime64[ns, UTC]

In [8]:
commit_times = pd.to_datetime(df["commit_time"], utc=True)
commit_tz_values = df["commit_tz"]

In [9]:
df["local_commit_time"] = commit_times + pd.to_timedelta(df["commit_tz"].apply(lambda x: timedelta(hours=float(x)/100)), unit='h')


df["part_of_day_commit"] = pd.cut(df["local_commit_time"].dt.hour, bins=[0, 6, 12, 18, 23, 24], labels=["Night", "Morning", "Afternoon", "Evening", "Night"], right=False,ordered=False)

In [10]:
df.columns

Index(['source', 'repo', 'hash', 'parents', 'author', 'author_time',
       'author_tz', 'committer', 'commit_time', 'commit_tz', 'message',
       'added', 'removed', 'from_svn', 'accurate_tz', 'issue_id',
       'local_commit_time', 'part_of_day_commit'],
      dtype='object')

In [11]:
df[['commit_time','commit_tz','local_commit_time','part_of_day_commit']].head(15)

,commit_time,commit_tz,local_commit_time,part_of_day_commit
0,2013-01-15 23:58:38+00:00,+0000,2013-01-15 23:58:38+00:00,Night
1,2013-01-22 18:08:30+00:00,+0000,2013-01-22 18:08:30+00:00,Evening
2,2012-05-17 17:24:30+00:00,+0000,2012-05-17 17:24:30+00:00,Afternoon
3,2012-05-16 14:51:58+00:00,+0000,2012-05-16 14:51:58+00:00,Afternoon
4,2012-05-16 17:42:07+00:00,+0000,2012-05-16 17:42:07+00:00,Afternoon
5,2012-04-23 17:25:25+00:00,+0000,2012-04-23 17:25:25+00:00,Afternoon
6,2012-05-16 15:20:55+00:00,+0000,2012-05-16 15:20:55+00:00,Afternoon
7,2018-09-11 18:28:50+00:00,-0400,2018-09-11 14:28:50+00:00,Afternoon
8,2017-10-30 16:15:46+00:00,-0400,2017-10-30 12:15:46+00:00,Afternoon
9,2019-01-02 23:45:11+00:00,-0500,2019-01-02 18:45:11+00:00,Evening
10,2018-10-31 15:36:47+00:00,-0400,2018-10-31 11:36:47+00:00,Morning
11,2019-03-19 14:51:46+00:00,-0400,2019-03-19 10:51:46+00:00,Morning
12,2019-03-19 20:23:09+00:00,-0400,2019-03-19 16:23:09+00:00,Afternoon
13,2018-10-31 16:50:51+00:00,-0400,2018-10-31 12:50:51+00:00,Afternoon
14,2017-11-03 21:28:40+00:00,-0400,2017-11-03 17:28:40+00:00,Afternoon